<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>686085329730-35ea7hi3q0vcjshp752td0dn9eb2jpkq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.686085329730-35ea7hi3q0vcjshp752td0dn9eb2jpkq</string>
	<key>API_KEY</key>
	<string>AIzaSyCN5IGOI7WTwSuXEWCeRv2Fnup2OrwRXs0</string>
	<key>GCM_SENDER_ID</key>
	<string>686085329730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beside04.haruNyang</string>
	<key>PROJECT_ID</key>
	<string>harunyang</string>
	<key>STORAGE_BUCKET</key>
	<string>harunyang.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:686085329730:ios:ffd0597425e54720b92edb</string>
</dict>
</plist>